
    .navbar-inner {
		background: #2caf54;
		background: -moz-linear-gradient(top, #2caf54 0%, #38791e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2caf54), color-stop(100%,#38791e));
		background: -webkit-linear-gradient(top, #2caf54 0%,#38791e 100%);
		background: -o-linear-gradient(top, #2caf54 0%,#38791e 100%);
		background: -ms-linear-gradient(top, #2caf54 0%,#38791e 100%);
		background: linear-gradient(top, #2caf54 0%,#38791e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2caf54', endColorstr='#38791e',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #d7f4d4;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #379425 !important;
    }
    .navbar .divider-vertical {
		border-left-color:#1e792f;
        border-right-color:#2fbd2f;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #379425 !important;
    }
	.ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
        background: #379425 !important;
        border-color:#379425 !important;
    }

	.table thead th {background-color:#f6eeef !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#ead8da !important}