@CHARSET "UTF-8";
/* @group general styles 
-------------------------------------------------------------------------------------------- */
/*  Body
  Resets - Eric Meyer Reset used.
  Links
  Headings
  Other elements
-------------------------------------------------------------------------------------------- */
/* line 13, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 25, ../sass/reset.scss */
:focus {
  outline: 0;
}

/* line 26, ../sass/reset.scss */
body {
  line-height: 1;
  color: black;
}

/* line 27, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 29, ../sass/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 31, ../sass/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 33, ../sass/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 35, ../sass/reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 36, ../sass/reset.scss */
textarea {
  resize: none;
}

/*background image and color*/
/*
 * Colors
 */
/*
 * Mixins
 */
/* line 4, ../sass/printtag.scss */
html {
  position: absolute;
  top: 0px;
  height: 75px;
}

/* line 10, ../sass/printtag.scss */
body {
  line-height: 1;
  color: black;
  background: none repeat scroll 0 0;
  margin: auto;
  position: relative;
  width: 325px;
}

/* PRINT REPORTS PAGE */
/* line 20, ../sass/printtag.scss */
#printbodyreport {
  width: 345px;
}

/* line 24, ../sass/printtag.scss */
#tagbody {
  margin-bottom: 0px;
}

/* line 28, ../sass/printtag.scss */
h1 {
  font-size: 17px;
  line-height:0px;
  padding-top: 0px;
 padding-bottom: 1px;
}

/* line 36, ../sass/printtag.scss */
#row1invnum1 {
  margin-right: 15px;
}

/* line 40, ../sass/printtag.scss */
#sec1h1-2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* line 46, ../sass/printtag.scss */
#row1date1 {
  margin-right: 40px;
}

/* line 50, ../sass/printtag.scss */
#div1{
	float:left;
}
#div2{
	float:right;
}

/* line 54, ../sass/printtag.scss */
h3 {
  font-size: 14px;
}

/* line 57, ../sass/printtag.scss */
#row2name1 {
  margin-right: 7px;
  line-height:0px;
}

/* line 62, ../sass/printtag.scss */
#row2phone {
	float:right;
}

/* line 67, ../sass/printtag.scss */
h2 {
  font-size: 14px;
	line-height:0px;
}
